:root {
  --background-color: #ffffff;
  --main-color: #212121;
  --second-color: #757575;
  --color-button: #2196f3;
  --background-color-team: #f5f4fa;
  --bcg-second: #2f303a;
  --third-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: var(--background-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.nav-item .current {
  color: var(--color-button);
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
}

.logo-first {
  color: var(--color-button);
}

.logo-second {
  color: #000000;
}

.header {
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--background-color);
}

.nav-link {
  color: var(--main-color);
}

.contact {
  color: var(--second-color);
}

.link:hover,
.link:focus {
  color: var(--color-button);
}

/* Hero Section */

.hero {
  background-color: var(--bcg-second);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--color-button);
}

.button {
  cursor: pointer;
}
/* Benefits Section */

.benefits-item-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits-item-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--second-color);
}

/* work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}

/* Comands */

.comand {
  background-color: var(--background-color-team);
}

.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-color);
}

.comand-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

.comand-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}

/* Footer */

.footer {
  background-color: var(--bcg-second);
}

.footer-map {
  font-weight: 400;
  line-height: 1.71;
  color: var(--background-color);
}

.footer-contact {
  font-weight: 400;
  line-height: 1.71;
  color: var(--third-color);
}
.color {
  color: var(--background-color);
}

/* Portfolio */

.portfolio-button {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  background: var(--background-color-team);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--background-color);
  background: var(--color-button);
}

.project-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-works {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
